@{
    ViewBag.Title = "About";
}

<div class="banner-top">
			<div class="header-bottom">
				 <div class="header_bottom_right_images">
				 	<div class="about_wrapper"><h1>Long-Term Business</h1>
					</div>
				    <div class="about-group">
		  			<div class="about-top">	
						<div class="grid images_3_of_1">
							<img src="~/Content/Images/pic7.jpg" alt=""/>
						</div>
						<div class="grid span_2_of_3">
							<h3>Get to know us a little better. Meet our team, see our awards, 
and read about a few reasons why we're different.</h3>
							<p>We take a bottom-line approach to each project. Our clients consistently see increased traffic, enhanced brand loyalty and new leads thanks to our work.We'd like to think that we're the kind of people you can come to enjoy spending time with and be trusted to achieve your business objectives.</p>
							<p>Our blog provides regular insight into the latest industry trends in web design and digital marketing.OnlineCars and its resident experts have gotten the attention of some of the biggest and most prestigious media outlets in the world.</p>
						</div><div class="clear"></div> 
					</div>
			   <p class="about-para">We are proud to have been recognized by a variety of key industry organizations for our achievements in design, deplpoyment, and branding.Search out job listings to find out what might be right for you.</p><div class="clear"></div>
			  	<button class="btn btn-6 btn-6a">Read More</button> 
			   <div class="team">
						<h2>Management Team</h2>
						<p>We take your business seriously, but don't take ourselves too seriously. We become close friends with our clients and forge family bonds among each other. We value the mutual, long-lasting respect that comes from doing business together and hope you do too.</p>
					    <div class="section group">
							<div class="grid_1_of_3 images_1_of_3">
								  <img src="~/Content/Images/pic8.jpg" alt=""/>
								  <h3>Jacalyn Markel</h3>
								  <p>CEO and Founder.</p>
							</div>
							<div class="grid_1_of_3 images_1_of_3">
								  <img src="~/Content/Images/pic9.jpg" alt=""/>
								  <h3>Steven Burge</h3>
								  <p>VP Business Development</p>
							</div>
							<div class="grid_1_of_3 images_1_of_3">
								  <img src="~/Content/Images/pic10.jpg" alt=""/>
								  <h3>Jon Mackenzie </h3>
								  <p>Director if Human Resources</p>
							</div><div class="clear"></div> 
				        </div>
				  </div>
				  <div class="about-bottom">	
						<div class="grid span_2_of_a">
							<h4>Our History</h4>
							<ul class="list-2">
                        <li><span><a href="#">2004&nbsp;&nbsp;&nbsp;:</a>&nbsp;&nbsp;&nbsp; OnlineCars started up in 2004, and we?ve been on an epic ride ever since. From our beginnings as an SEO consulting company to launching the first Pro app in 2007, we?ve tried to stay true to our core beliefs?TAGFEE?and to deliver an exceptional experience for our community and subscribers. We owe a huge thanks to our community for joining us on this awesome journey, and we hope that you?ll continue to be a part of our story.</span></li>
                        <li><span><a href="#">2012&nbsp;&nbsp;&nbsp;:</a>&nbsp;&nbsp;&nbsp; We won award of being the most reliable company of the year and that was a big achievement.</span></li>
                        <li><span><a href="#">2017&nbsp;&nbsp;&nbsp;:</a>&nbsp;&nbsp;&nbsp; We have won the award of best car selling and designing company of the year and we will continue our work until our customers are happy from us. </span></li>
                    </ul>
						</div><div class="clear"></div> 
					</div>
		   </div>
		</div>
		<div class="header-para">
				<div class="categories">
						<div class="list-categories">
							<div class="first-list">
								<div class="div_2"><a href="#">Cars</a></div>
								<div class="div_img">
									<img src="~/Content/Images/car1.jpg" alt="Cars" title="Cars" width="60" height="39">
								</div><div class="clear"></div>
							</div>
							<div class="first-list">
								<div class="div_2"><a href="#">Rental</a></div>
								<div class="div_img">
									<img src="~/Content/Images/car2.jpg" alt="Cars" title="Cars" width="60" height="39">
								</div><div class="clear"></div>
							</div>
							<div class="first-list">
								<div class="div_2"><a href="#">Banking</a></div>
								<div class="div_img">
									<img src="~/Content/Images/car3.jpg" alt="Cars" title="Cars" width="60" height="39">
								</div><div class="clear"></div>
							</div>
							<div class="first-list">
								<div class="div_2"><a href="#">Trucks</a></div>
								<div class="div_img">
									<img src="~/Content/Images/car4.jpg" alt="Cars" title="Cars" width="60" height="39">
								</div><div class="clear"></div>
							</div>
				</div>
				<div class="box"> 
							<div class="box-heading"><h1><a href="#">Cars:&nbsp;</a></h1></div>
							 <div class="box-content">
							We Sell Best&nbsp;<strong></strong>
							</div>	
				</div>
				<div class="box-title">
					<h1><span class="title-icon"></span><a href="#">Branches</a></h1>
				</div>
				<div class="section group example">
					<div class="col_1_of_2 span_1_of_2">
					  <img src="~/Content/Images/pic21.jpg" alt=""/>
					   <img src="~/Content/Images/pic24.jpg" alt=""/>
					   <img src="~/Content/Images/pic25.jpg" alt=""/>
					   <img src="~/Content/Images/pic27.jpg" alt=""/>
	 				</div>
					<div class="col_1_of_2 span_1_of_2">
						 <img src="~/Content/Images/pic22.jpg" alt=""/>
					  	<img src="~/Content/Images/pic23.jpg" alt=""/>
					  	<img src="~/Content/Images/pic26.jpg" alt=""/>
					  	<img src="~/Content/Images/pic28.jpg" alt=""/>
					  </div><div class="clear"></div>
		   		 </div>
				<div class="clear"></div>
				</div>
	</div>
		<div class="clear"></div>
		
                
                <div class="clear"></div>
		<div class="footer-bottom">
			<div class="copy">
				<p>All rights Reserved | Design by <a href="http://w3layouts.com">W3Layouts</a></p>
			</div>
            </div>
                </div>

                
                
		</div>

