@{
    ViewBag.Title = "Contact";
}


@section scripts{
    <script>

       

              $(function () {
                  $("#btnsubmit").click(function () {
                      
                          alert("Thank You! Your Record has been saved.")
                      
                  });
              });
        

    </script>
}

<div class="banner-top">
			<div class="header-bottom">
				 <div class="header_bottom_right_images">
				 	<div class="about_wrapper"><h1>Long-Term Business</h1>
					</div>
		    <div class="section group">
				<div class="col span_2_of_c">
				  <div class="contact-form">
				  	<h3>Contact Us</h3>
					    <form method="post">
					    	<div>
						    	<span><label>NAME</label></span>
						    	<span><input name="userName" type="text" class="textbox"></span>
						    </div>
						    <div>
						    	<span><label>E-MAIL</label></span>
						    	<span><input name="userEmail" type="text" class="textbox"></span>
						    </div>
						    <div>
						     	<span><label>MOBILE</label></span>
						    	<span><input name="userPhone" type="text" class="textbox"></span>
						    </div>
						    <div>
						    	<span><label>SUBJECT</label></span>
						    	<span><textarea name="userMsg"> </textarea></span>
						    </div>
						   <div>
						   		<span><input type="submit" id="btnsubmit" value="Submit"></span>
						  </div>
					    </form>
				  </div>
  				</div><div class="clear"></div>
			</div>
		</div>
		<div class="header-para">
				<div class="categories">
						<div class="list-categories">
							<div class="first-list">
								<div class="div_2"><a href="#">Cars</a></div>
								<div class="div_img">
									<img src="~/Content/Images/car1.jpg" alt="Cars" title="Cars" width="60" height="39">
								</div><div class="clear"></div>
							</div>
							<div class="first-list">
								<div class="div_2"><a href="#">Rental</a></div>
								<div class="div_img">
									<img src="~/Content/Images/car2.jpg" alt="Cars" title="Cars" width="60" height="39">
								</div><div class="clear"></div>
							</div>
							<div class="first-list">
								<div class="div_2"><a href="#">Banking</a></div>
								<div class="div_img">
									<img src="~/Content/Images/car3.jpg" alt="Cars" title="Cars" width="60" height="39">
								</div><div class="clear"></div>
							</div>
							<div class="first-list">
								<div class="div_2"><a href="#">Trucks</a></div>
								<div class="div_img">
									<img src="~/Content/Images/car4.jpg" alt="Cars" title="Cars" width="60" height="39">
								</div><div class="clear"></div>
							</div>
				</div>
				<div class="box"> 
							<div class="box-heading"><h1><a href="#">Cars&nbsp;</a></h1></div>
							 <div class="box-content">
							We Sell Best Cars&nbsp;<strong></strong>
							</div>	
				</div>
				<div class="box-title">
					<h1><span class="title-icon"></span><a href="#">Specials</a></h1>
				</div>
				<div class="section group example">
					<div class="col_1_of_2 span_1_of_2">
					  <img src="~/Content/Images/pic21.jpg" alt=""/>
					   <img src="~/Content/Images/pic24.jpg" alt=""/>
					   <img src="~/Content/Images/pic25.jpg" alt=""/>
					</div>
					<div class="col_1_of_2 span_1_of_2">
						 <img src="~/Content/Images/pic22.jpg" alt=""/>
					  	<img src="~/Content/Images/pic23.jpg" alt=""/>
					  	<img src="~/Content/Images/pic26.jpg" alt=""/>
					</div><div class="clear"></div>
		   		 </div>
				</div>
	</div>
		<div class="clear"></div>
		<div class="footer-bottom">
			<div class="copy">
				<p>All rights Reserved | Design by <a href="http://w3layouts.com">W3Layouts</a></p>
			</div>
		</div>
</div>
</div>

