@{
    ViewBag.Title = "Specials";
}

	<div class="banner-top">
			<div class="header-bottom">
				 <div class="header_bottom_right_images">
				     	
		  			<div class="content-wrapper">		  
						<div class="content-top">
							  	<div class="about_wrapper"><h1>Specials</h1>
								</div>
							 <div class="text"> 	
								<div class="grid_1_of_3 images_1_of_3">
									<div class="grid_1">
										<a href="single.html"><img src="~/Content/Images/pic12.jpg" title="continue reading" alt=""></a>
											<div class="grid_desc">
												<p class="title">Lamborghini Veneo</p>
												
													 <div class="price" style="height: 19px;">
													 	 <span class="reducedfrom">$8.00 million</span>
								        				<span class="actual">$10.00 million</span>
													</div>
													<div class="cart-button">
														<div class="cart">
															<button class="button"><span>Details</span></button>
														</div>
														<button class="button"><span>Cart</span></button>
													<div class="clear"></div>
												</div>
											</div>
								</div><div class="clear"></div>
							</div>
									<div class="grid_1_of_3 images_1_of_3">
										  <div class="grid_1">
										<a href="single.html"><img src="~/Content/Images/pic13.jpg" title="continue reading" alt=""></a>
											<div class="grid_desc">
												<p class="title">W Motors Lykan Hypersport</p>
												
													 <div class="price" style="height: 19px;">
													 	 <span class="reducedfrom">$3.4 million</span>
								        				<span class="actual">$4.00</span>
													</div>
													<div class="cart-button">
														<div class="cart">
															<button class="button"><span>Details</span></button>
														</div>
														<button class="button"><span>Cart</span></button>
													<div class="clear"></div>
												</div>
											</div>
								</div><div class="clear"></div>
									</div>
									<div class="grid_1_of_3 images_1_of_3">
										  <div class="grid_1">
										<a href="single.html"><img src="~/Content/Images/pic14.jpg" title="continue reading" alt=""></a>
											<div class="grid_desc">
												<p class="title">Buggatti Veyron</p>
												
													 <div class="price" style="height: 19px;">
													 	 <span class="reducedfrom">$6.9 million</span>
								        				<span class="actual">$8.00 million</span>
													</div>
													<div class="cart-button">
														<div class="cart">
															<button class="button"><span>Details</span></button>
														</div>
														<button class="button"><span>Cart</span></button>
													<div class="clear"></div>
												</div>
											</div>
								</div><div class="clear"></div>
									</div><div class="clear"></div>
								</div>
						</div>
						<div class="content-top">
							  	<div class="box_wrapper"><h1>Featured Products</h1>
								</div>
							 <div class="text"> 	
								<div class="grid_1_of_3 images_1_of_3">
									<div class="grid_1">
										<a href="single.html"><img src="~/Content/Images/pic15.jpg" title="continue reading" alt=""></a>
											<div class="grid_desc">
												<p class="title">Ferrari Pininfarina Sergio</p>
												
													 <div class="price" style="height: 19px;">
													 	 <span class="reducedfrom">$3.00 million</span>
								        				<span class="actual">$4.00 million</span>
													</div>
													<div class="cart-button">
														<div class="cart">
															<button class="button"><span>Details</span></button>
														</div>
														<button class="button"><span>Cart</span></button>
													<div class="clear"></div>
												</div>
											</div>
								</div><div class="clear"></div>
							</div>
									<div class="grid_1_of_3 ~/Content/Images_1_of_3">
										  <div class="grid_1">
										<a href="single.html"><img src="~/Content/Images/pic16.jpg" title="continue reading" alt=""></a>
											<div class="grid_desc">
												<p class="title">Pagani Huayra BC</p>
												
													 <div class="price" style="height: 19px;">
													 	 <span class="reducedfrom">$2.6 million</span>
								        				<span class="actual">$3 million</span>
													</div>
													<div class="cart-button">
														<div class="cart">
															<button class="button"><span>Details</span></button>
														</div>
														<button class="button"><span>Cart</span></button>
													<div class="clear"></div>
												</div>
											</div>
								</div><div class="clear"></div>
									</div>
									<div class="grid_1_of_3 images_1_of_3">
										  <div class="grid_1">
										<a href="single.html"><img src="~/Content/Images/pic17.jpg" title="continue reading" alt=""></a>
											<div class="grid_desc">
												<p class="title">Ferrari F60 America </p>
												
													 <div class="price" style="height: 19px;">
													 	 <span class="reducedfrom">$3.5 million</span>
								        				<span class="actual">$4.00 million</span>
													</div>
													<div class="cart-button">
														<div class="cart">
															<button class="button"><span>Details</span></button>
														</div>
														<button class="button"><span>Cart</span></button>
													<div class="clear"></div>
												</div>
											</div>
								</div><div class="clear"></div>
									</div><div class="clear"></div>
								</div>
						</div>
				</div>
				<div class="paging">
		            <ul>
		                <li><a href="#" target="_parent">Previous</a></li>
		                <li><a href="#" target="_parent">1</a></li>
		                <li><a href="#" target="_parent">2</a></li>
		                <li><a href="#" target="_parent">3</a></li>
		                <li><a href="#" target="_parent">4</a></li>
		                <li><a href="#" target="_parent">5</a></li>
		                <li><a href="#" target="_parent">6</a></li>
		                <li><a href="#" target="_parent">Next</a></li>
		            </ul>
       			</div>
		</div>
		<div class="header-para">
				<div class="categories">
						<div class="list-categories">
							<div class="first-list">
								<div class="div_2"><a href="#">Cars</a></div>
								<div class="div_img">
									<img src="~/Content/Images/car1.jpg" alt="Cars" title="Cars" width="60" height="39">
								</div><div class="clear"></div>
							</div>
							<div class="first-list">
								<div class="div_2"><a href="#">Rental</a></div>
								<div class="div_img">
									<img src="~/Content/Images/car2.jpg" alt="Cars" title="Cars" width="60" height="39">
								</div><div class="clear"></div>
							</div>
							<div class="first-list">
								<div class="div_2"><a href="#">Banking</a></div>
								<div class="div_img">
									<img src="~/Content/Images/car3.jpg" alt="Cars" title="Cars" width="60" height="39">
								</div><div class="clear"></div>
							</div>
							<div class="first-list">
								<div class="div_2"><a href="#">Trucks</a></div>
								<div class="div_img">
									<img src="~/Content/Images/car4.jpg" alt="Cars" title="Cars" width="60" height="39">
								</div><div class="clear"></div>
							</div>
				</div>
				<div class="box"> 
							<div class="box-heading"><h1><a href="#">Cars:&nbsp;</a></h1></div>
							 <div class="box-content">
							We Sell Best&nbsp;<strong> 0 items</strong>
							</div>	
				</div>
				<div class="box-title">
					<h1><span class="title-icon"></span><a href="#">Specials</a></h1>
				</div>
				<div class="section group example">
					<div class="col_1_of_2 span_1_of_2">
					  <img src="~/Content/Images/pic21.jpg" alt=""/>
					   <img src="~/Content/Images/pic24.jpg" alt=""/>
					   <img src="~/Content/Images/pic25.jpg" alt=""/>
					   <img src="~/Content/Images/pic27.jpg" alt=""/>
	 				</div>
					<div class="col_1_of_2 span_1_of_2">
						 <img src="~/Content/Images/pic22.jpg" alt=""/>
					  	<img src="~/Content/Images/pic23.jpg" alt=""/>
					  	<img src="~/Content/Images/pic26.jpg" alt=""/>
					  	<img src="~/Content/Images/pic28.jpg" alt=""/>
					  </div><div class="clear"></div>
		   		 </div>
				</div>
	</div><div class="clear"></div>
		
        
        
        
</div>
</div>
