@{
    ViewBag.Title = "View1";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
<ul>
<li><a href="#"><canvas ></canvas><img src="~/Content/Images/banner4.jpg" alt="Marsa Alam underawter close up" ></a></li>
</ul>